<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
</head>
<body>
<div th:fragment="detailDl">
	<h3 class="text-uppercase text-success">
		<strong >Detail Schedule Job</strong>
	</h3>
	
	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd th:text="${rhAbroadJob.id}"></dd>
		<dt>Staff</dt>
		<dd th:text="${rhAbroadJob.rhPerson.fullname}"></dd>
		<dt>Start date/time</dt>
		<dd th:text="${#calendars.format(rhAbroadJob.dateStart,'dd/MM/yyy HH:mm')}"></dd>
		<dt>Finish date/time</dt>
		<dd th:text="${#calendars.format(rhAbroadJob.dateFinish,'dd/MM/yyy HH:mm')}"></dd>
		<dt>Duration</dt>
		<dd th:text="${rhAbroadJob.duration} + ' min.'"></dd>
		<dt>Manager</dt>
		<dd th:text="${rhAbroadJob.rhPersonMng.fullname}"></dd>
		<dt>Status</dt>
		<dd th:text="${rhAbroadJob.rhStatus.name}"></dd>
		<dt>Reason</dt>
		<dd th:text="${rhAbroadJob.reason}"></dd>
  	</dl>
  	
</div>

<div th:fragment="detailTable">
<div class="col-md-10">
	<table class="table table-hover mbn">
		<tbody>
<!-- 			<tr th:if="${rhAbroadJob.rhType != null}"> -->
<!--              	<td class="col-md-3"><strong>Type session</strong></td> -->
<!--                 <td th:text="${rhAbroadJob.rhType.name}"></td> -->
<!--             </tr> -->
            <tr th:if="${rhAbroadJob.rhStatus != null}">
             	<td><strong>Status</strong></td>
                <td th:text="${rhAbroadJob.rhStatus.name}"></td>
            </tr>
<!--             <tr th:if="${rhAbroadJob.rhPerson != null}"> -->
<!--              	<td class="col-md-3"><strong>Staff</strong></td> -->
<!--                 <td th:text="${rhAbroadJob.rhPerson.fullname}"></td> -->
<!--             </tr> -->
<!--             <tr th:if="${rhAbroadJob.rhPersonMng != null}"> -->
<!--              	<td class="col-md-3"><strong>Manager</strong></td> -->
<!--                 <td th:text="${rhAbroadJob.rhPersonMng.fullname}"></td> -->
<!--             </tr> -->
 			<tr th:if="${rhAbroadJob.rhTypePerm != null}">
             	<td><strong>Sub Type</strong></td>
                <td th:text="${rhAbroadJob.rhTypePerm.name}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.dateReg != null}">
             	<td><strong>Register date/time</strong></td>
                <td th:text="${#calendars.format(rhAbroadJob.dateReg,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.dateStart != null}">
             	<td><strong>Start date/time</strong></td>
                <td th:text="${#calendars.format(rhAbroadJob.dateStart,'dd/MM/yyyy')}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.dateFinish != null}">
             	<td><strong>Finish date/time</strong></td>
                <td th:text="${#calendars.format(rhAbroadJob.dateFinish,'dd/MM/yyyy')}"></td>
            </tr>
<!--              <tr th:if="${rhAbroadJob.dateStartShift != null}"> -->
<!--              	<td><strong>Register Start date/time</strong></td> -->
<!--                 <td th:text="${#calendars.format(rhAbroadJob.dateStartShift,'dd/MM/yyyy HH:mm')}"></td> -->
<!--             </tr> -->
<!--             <tr th:if="${rhAbroadJob.dateFinishShift != null}"> -->
<!--              	<td><strong>Register Finish date/time</strong></td> -->
<!--                 <td th:text="${#calendars.format(rhAbroadJob.dateFinishShift,'dd/MM/yyyy HH:mm')}"></td> -->
<!--             </tr> -->
             <tr th:if="${rhAbroadJob.rhShiftPeriod != null}">
             	<td><strong>Period</strong></td>
                <td th:text="${rhAbroadJob.rhShiftPeriod.label}">
                </td>
            </tr>
            <tr th:if="${rhAbroadJob.sisRegion != null}">
             	<td><strong>Region</strong></td>
                <td th:text="${rhAbroadJob.sisRegion.name}"></td>
            </tr> 
            <tr th:if="${rhAbroadJob.rhTypeCharge != null}">
             	<td><strong>Charge Type</strong></td>
                <td th:text="${rhAbroadJob.rhTypeCharge.name}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.reason != null}">
             	<td><strong>Reason</strong></td>
                <td th:text="${rhAbroadJob.reason}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.response != null}">
             	<td><strong>Response</strong></td>
                <td th:text="${rhAbroadJob.response}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.comment != null}">
             	<td><strong>Comment</strong></td>
                <td th:text="${rhAbroadJob.comment}"></td>
            </tr>
            <tr th:if="${rhAbroadJob.rhFiles != null}">
             	<td><strong>File</strong></td>
                <td>
                	<a  th:each="rhFile : ${rhAbroadJob.rhFiles}" 
                		th:text="${rhFile.nameFile}" th:href="@{'/shift/download/' + ${rhFile.id}}" ></a>
                </td>
            </tr>
           <tr th:if="${rhAbroadJob.rhShiftDetails != null}">
             	<td> <strong>Process Detail</strong></td>
             	<td >
             		<table class="table table-hover mbn" >
					   	<thead class="bg-default">
						     <tr>
						      	<th>Session</th>
						         <th>Type</th>
						         <th>Start Date</th>
						         <th>Finish Date</th>
						         <th>Rate</th>
						         <th>Total</th>
						     </tr>
						</thead>
						<tbody>
						 	<tr th:each="shiftDetail : ${rhAbroadJob.rhShiftDetails }" th:id="${shiftDetail.id}">
					        	<td th:text="${shiftDetail.rhShift.rhType.name}">text 1</td>
					            <td th:text="${shiftDetail.rhType != null} ? ${shiftDetail.rhType.name} : '-'">text 1</td>
					            <td th:text="${#calendars.format(shiftDetail.timeStart,'dd/MM HH:mm')}">text 1</td>
					            <td th:text="${#calendars.format(shiftDetail.timeFinish,'dd/MM HH:mm')}">text 1</td>
					            <td th:text="${shiftDetail.rhTypeRate.name}">text 1</td>
					            <td th:text="${shiftDetail.totalRate}">text 1</td>
					        </tr>
					    </tbody>
					 </table>
             	</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>