<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
	
</head>
<body>


<!--BEGIN HEADER-->
<header class="header" th:fragment="mainHeader">
    <div class="logo"><a href="#" class="logo-text">AppManager 2</a><a
            href="#" data-toggle="offcanvas" class="sidebar-toggle pull-right"><i class="fa fa-bars"></i></a>
    </div>
    <nav role="navigation" class="navbar navbar-static-top">
    	<div class="navbar-left hidden-xs hidden-sm logo-top">
    		<a href="http://www.thradex.com/" target="_blank">
    		<img alt="Logo Thradex" th:src="@{/static/global/images/logoMain.png}" height="32px"/>
    		</a>
    	</div>
    	
<!--         <form action="#" class="search-form navbar-left hidden-xs"> -->
<!--             <div class="input-icon right"><i class="icon-magnifier"></i><input type="text" -->
<!--                                                                                placeholder="Enter keyword" -->
<!--                                                                                class="form-control input-circle input-dark"/> -->
<!--             </div> -->
<!--         </form> -->
        <div class="navbar-right">
        	<ul class="nav navbar-nav">
<!--             	<li class="hidden-xs hidden-sm"> -->
            		
<!--             	</li>        	 -->
<!--                         <li class="dropdown dropdown-extra dropdown-messages"><a href="#" data-toggle="dropdown" -->
<!--                                                                                  class="dropdown-toggle"><i -->
<!--                                 class="icon-envelope-open"></i><span class="badge badge-primary">4</span></a> -->
<!--                             <ul class="dropdown-menu"> -->
<!--                                 <li><p>You have 12 new messages</p></li> -->
<!--                                 <li> -->
<!--                                     <ul class="dropdown-menu-list dropdown-scroller"> -->
<!--                                         <li><a href="#"><span class="avatar"><img -->
<!--                                                 src="http://api.randomuser.me/portraits/thumb/men/68.jpg" alt="" -->
<!--                                                 class="img-circle"/></span><span class="subject"><span class="from">Teodor Macri</span><span -->
<!--                                                 class="time">12 mins</span></span><span class="message">Neque porro quisquam est, qui dolorem ipsum quia dolor sit...</span></a> -->
<!--                                         </li> -->
<!--                                         <li><a href="#"><span class="avatar"><img -->
<!--                                                 src="http://api.randomuser.me/portraits/thumb/women/39.jpg" alt="" -->
<!--                                                 class="img-circle"/></span><span class="subject"><span class="from">Paula Aderca</span><span -->
<!--                                                 class="time">21 mins</span></span><span class="message">Neque porro quisquam est, qui dolorem ipsum quia dolor sit...</span></a> -->
<!--                                         </li> -->
<!--                                         <li><a href="#"><span class="avatar"><img -->
<!--                                                 src="http://api.randomuser.me/portraits/thumb/men/60.jpg" alt="" -->
<!--                                                 class="img-circle"/></span><span class="subject"><span class="from">Pascal Aigner</span><span -->
<!--                                                 class="time">1 hrs</span></span><span class="message">Neque porro quisquam est, qui dolorem ipsum quia dolor sit...</span></a> -->
<!--                                         </li> -->
<!--                                         <li><a href="#"><span class="avatar"><img -->
<!--                                                 src="http://api.randomuser.me/portraits/thumb/women/38.jpg" alt="" -->
<!--                                                 class="img-circle"/></span><span class="subject"><span class="from">Alice Walker</span><span -->
<!--                                                 class="time">2 hrs</span></span><span class="message">Neque porro quisquam est, qui dolorem ipsum quia dolor sit...</span></a> -->
<!--                                         </li> -->
<!--                                         <li><a href="#"><span class="avatar"><img -->
<!--                                                 src="http://api.randomuser.me/portraits/thumb/women/10.jpg" alt="" -->
<!--                                                 class="img-circle"/></span><span class="subject"><span class="from">Isabelle Johnson</span><span -->
<!--                                                 class="time">4 hrs</span></span><span class="message">Neque porro quisquam est, qui dolorem ipsum quia dolor sit...</span></a> -->
<!--                                         </li> -->
<!--                                     </ul> -->
<!--                                 </li> -->
<!--                                 <li class="footer"><a href="inbox.html">See all messages<i class="icon-arrow-right"></i></a> -->
<!--                                 </li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li class="dropdown dropdown-extra dropdown-notifications"> -->
<!--                         	<a href="#" data-toggle="dropdown" class="dropdown-toggle"> -->
<!-- 	                        	<i class="icon-bell"></i> -->
<!-- 	                        	<span class="badge pink">2</span> -->
<!--                         	</a> -->
<!--                             <ul class="dropdown-menu"> -->
<!--                                 <li><p>You have 2 notifications</p></li> -->
<!--                                 <li> -->
<!--                                     <ul class="dropdown-menu-list dropdown-scroller"> -->
<!--                                         <li> -->
<!--                                         	<a href="#">Pending Shift Alert  -->
<!--                                            <br/><span class="time"> 12 Lates</span></a> -->
<!--                                         </li> -->
<!--                                         <li> -->
<!--                                         	<a href="#">Pending request to process  -->
<!--                                            <br/><span class="time"> 2 Requests</span></a> -->
<!--                                         </li> -->
<!--                                     </ul> -->
<!--                                 </li> -->
<!--                                 <li class="footer"><a href="#">See all notifications<i class="icon-arrow-right"></i></a> -->
<!--                                 </li> -->
<!--                             </ul> -->
<!--                         </li> -->
                
<!--                         <li class="dropdown dropdown-extra dropdown-tasks"> -->
<!-- 							<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i -->
<!--                                 class="icon-clock"></i><span class="badge badge-success">9</span></a> -->
<!--                             <ul class="dropdown-menu dropdown-tasks"> -->
<!--                                 <li><p>You have 12 pending tasks</p></li> -->
<!--                                 <li> -->
<!--                                     <ul class="dropdown-menu-list dropdown-scroller"> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">Application deployment</span><span -->
<!--                                                 class="percent">65%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 65%;" -->
<!--                                                      class="progress-bar progress-bar-warning"><span class="sr-only">65% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">Database migration</span><span -->
<!--                                                 class="percent">85%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 85%;" -->
<!--                                                      class="progress-bar progress-bar-success"><span class="sr-only">85% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">New release v1.1</span><span -->
<!--                                                 class="percent">90%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 90%;" -->
<!--                                                      class="progress-bar progress-bar-orange"><span class="sr-only">90% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">Mobile app release</span><span -->
<!--                                                 class="percent">35%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 35%;" -->
<!--                                                      class="progress-bar progress-bar-danger"><span class="sr-only">35% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">Mobile development</span><span -->
<!--                                                 class="percent">60%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 60%;" -->
<!--                                                      class="progress-bar progress-bar-info"><span class="sr-only">60% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span class="desc">New UI release</span><span -->
<!--                                                 class="percent">95%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 95%;" -->
<!--                                                      class="progress-bar progress-bar-purple"><span class="sr-only">95% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                         <li><a href="#"><span class="task"><span -->
<!--                                                 class="desc">Web server upgrade</span><span -->
<!--                                                 class="percent">40%</span></span> -->

<!--                                             <div class="progress progress-xs"> -->
<!--                                                 <div role="progressbar" style="width: 40%;" -->
<!--                                                      class="progress-bar progress-bar-success"><span class="sr-only">40% Complete</span> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </a></li> -->
<!--                                     </ul> -->
<!--                                 </li> -->
<!--                                 <li class="footer"><a href="#">See all tasks<i class="icon-arrow-right"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
                <li class="dropdown dropdown-user menu-user">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
               <span class="hidden-xs" th:text="${session.currentUser.rhPerson.fullname}"></span>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
<!--                         <li><a href="#"><i class="icon-user"></i>My Profile</a></li> -->
<!--                         <li><a href="#"><i class="icon-calendar"></i>My Calendar</a></li> -->
<!--                         <li><a href="#"><i class="icon-lock"></i>Lock Screen</a></li> -->
						<li th:if="${session.currentUser.idRealUser!=0}">
						  <a th:href="@{../user/simulationBack?idUser=}+${session.currentUser.idRealUser}"><i class="icon-key"></i>Return to real User</a>
						 </li>
                        <li><a th:href="@{/auth/logout}"><i class="icon-key"></i>Log Out</a></li>
                    </ul>
                </li>
                <li class="hidden-xs hidden-sm"><a href="javascript:;" class="fullscreen-toggle"><i
                        class="icon-size-fullscreen"></i></a></li>
<!--                 <li class="hidden-xs"><a href="javascript:;" class="toggle-quick-sidebar"><i -->
<!--                         class="icon-settings"></i></a></li> -->
            </ul>
        </div>
    </nav>
</header>
<!--END HEADER-->


</body>
</html>