<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>AppManager2 | Thradex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="AppManager V2.0" name="description"/>
    <meta content="Mijael Palomino" name="author"/>
</head>
<body>
    <h2>Lo sentimos hubo un problema en el proceso </h2>
    <h3 th:if="${errCode!= null}" th:text="${errCode}" style="color: red"> System error </h3>
    <h3 th:if="${errMsg!= null}" th:text="${errMsg}" style="color: red"> Error Message </h3>
    <a href="/shift/getPage">Volver a Home</a>
</body>
</html>