<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
      
<head>
	<title>AppManager 2 - Login Page </title>
   	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link type="text/css" rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>
	<link type="image/x-icon" th:href="@{/static/global/images/logo.ico}" rel="shortcut icon"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/assets/css/pages/login.css}"/>

</head>
<body class="page-login">
<div class="outer">
    <div class="middle bg-overlay">
        <div class="inner"><!--BEGIN LOGO-->
            <div class="header"><a href="#" class="logo">Application Manager 2.0</a></div>
            <!--END LOGO--><!--BEGIN CONTENT-->
            <div class="alert alert-danger alert-dismissable fade in" th:if="${error == true}">
                 <button type="button" data-dismiss="alert" aria-hidden="true"
                         class="close">&times;</button>
                 <strong>Sorry, </strong>your E-mail or Password was incorrect.
             </div>
             
            <form name="formLogin" id="formLogin" action="../j_spring_security_check" method="post" class="login-form">
            
            	<h4 class="mbl">Login to your account</h4>

                <div class="form-group">
                    <div class="input-icon"><i class="icon-user"></i>
                    <input type="text" placeholder="E-Mail" name="j_username" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="input-icon"><i class="icon-lock"></i>
                    <input type="password" placeholder="Password" name="j_password" class="form-control"/></div>
                </div>
             
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
                   <div class="form-group">
<!--                     <div class="checkbox pull-left"><label><input type="checkbox" value="">Remember me</label></div> -->
                    <a href="#" class="text-info pull-right mtm">Forgot password?</a>

                    <div class="clearfix"></div>
                </div>
                <hr/>
                <small>Don't have an account yet? <a href='page_register.html' class='text-info'>New User</a>
                </small>
                
            </form>
            <div class="footer">
            	<img alt="Logo Thradex" th:src="@{/static/global/images/logoMain.png}" height="45px"/>
            </div>
        <!--END CONTENT-->
        </div>
    </div>
</div>

<script th:src="@{/static/global/js/jquery.js}"></script>
<script th:src="@{/static/global/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/static/global/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/global/js/html5shiv.js}"></script>
<script th:src="@{/static/global/js/respond.min.js}" ></script>
<script th:src="@{/static/global/plugins/iCheck/icheck.min.js}" ></script>
<script th:src="@{/static/global/plugins/iCheck/custom.min.js}" ></script>
<script th:src="@{/static/assets/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/static/global/plugins/select2/select2.js}"></script>
<script th:src="@{/static/assets/plugins/form-validator/js/formValidation.js}" ></script>
<script th:src="@{/static/assets/js/form-validation.js}" ></script>
<script th:src="@{/static/global/js/app.js}" ></script>

<script th:src="@{/static/assets/js/pages/login.js}"></script>
</body>
</html>